@model Viagem.Models.Viajar

@{
    ViewData["Title"] = "Create Viajar";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        #sec-59a1, #menuPrincipal { 
            display: none;
        }
        header {
            background-image: url("../images/04c92f4b1888be1f59c0cf8549526806.jpeg") !important;
        }
    </style>
</head>
<body>

<div class="d-flex bd-highlight">
    <h4 class="pl-4 p-2 flex-grow-1 bd-highlight">Viajar</h4>
        <a href="https://localhost:5001/Passageiro/Create" class="mr-3 p-2 bd-highlight u-btn u-btn-round u-button-style u-gradient u-radius-10 u-btn-1">
            Efeturar Login
        </a>
        <a href="https://localhost:5001/Pagamento/Create" class="mr-3 p-2 bd-highlight u-btn u-btn-round u-button-style u-gradient u-radius-10 u-btn-1">
            Pagamento
        </a>
</div>
<hr />
<div class="row">
    <div class="col-ml-4  container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Partida" class="control-label"></label>
                <input asp-for="Partida" class="form-control" />
                <span asp-validation-for="Partida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataIda" class="control-label"></label>
                <input asp-for="dataIda" class="form-control" Placeholder="Exemplo: 010122" />
                <span asp-validation-for="dataIda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataVolta" class="control-label"></label>
                <input asp-for="dataVolta" class="form-control" Placeholder="Exemplo: 010222" />
                <span asp-validation-for="dataVolta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassageiroId_passageiro" class="control-label"></label>
                <input asp-for="PassageiroId_passageiro" class="form-control" />
                <span asp-validation-for="PassageiroId_passageiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagamentoId_pagamento" class="control-label"></label>
                <input asp-for="PagamentoId_pagamento" class="form-control" />
                <span asp-validation-for="PagamentoId_pagamento" class="text-danger"></span>
            </div>
            <div class="form-group w-100 text-center">
                <input type="submit" value="Create" class="btn btn-primary w-50" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="pl-4">Voltar a lista</a>
</div>

</body>
</html>
