@model Viagem.Models.Passageiro

@{
    ViewData["Title"] = "Create Passageiro";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
            #sec-59a1, #menuPrincipal { 
                display: none;
            }
            header {
                background-image: url("../images/04c92f4b1888be1f59c0cf8549526806.jpeg") !important;
            }
            .container {
                margin: 60px auto 120px;
            }
        </style>
</head>
<body>

<h4 class="pl-4">Passageiro</h4>
<hr />
<div class="row">
    <div class="col-md-4 container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w-100 text-center">
                <input type="submit" value="Create" class="btn btn-primary w-25" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="pl-4">Volte para Lista</a>
</div>

</body>
</html>
